{% extends "rest_framework/login_base.html" %}

{% block title %}API Login{% endblock %}

{% block branding %}
    <h3 style="margin: 0 0 20px;">헬스장 앱 API 로그인</h3>
{% endblock %}

{% block content %}
    <form action="{% url 'rest_framework:login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input name="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <input name="password" type="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">로그인</button>
    </form>

    <div style="text-align: center; margin-top: 20px;">
        <p>계정이 없으신가요?
            <a href="{% url 'register' %}">회원가입</a>
        </p>
    </div>
{% endblock %}